<h2><%= @member.pretty_name %></h2>

<ul>
  <li>Last Name: <%= @member.first_name %></li>
  <li>First Name: <%= @member.last_name %></li>

</ul>

  <p>Classes this member has signed up for:</p>
    <% @bookings.each do |booking| %>
    <li><%= booking.name %></li>
    <a href="/bookings/<%= booking.id %>">View booking details</a>
    <% end %>
  </ul>
  <hr>
  <!-- I don't understand why booking.name is. But it works, as it shows the name of the relevant fitness_class. -->

  <a href="/members/<%= @member.id %>/edit">Edit Member Details</a>
  <form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<!--  -->
