<h2><%= @member.pretty_name %></h2>

<!-- I had a list here, but it didn't display properly, so I have made it <p> -->
<p>Last Name: <%= @member.first_name %></p>
<p>First Name: <%= @member.last_name %></p>


<p>Classes this member has signed up for:</p>

<table>
  <% @bookings.each do |booking| %>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= booking.name %></td>
    <td><a href="/bookings/<%= booking.id %>">View booking details
    </a>
  </td>
</tr>
<% end %>
</table>
<hr>
<br>
<form action="/members/<%= @member.id %>/edit" method="GET"><input type="submit" value="Edit Member Details"></form>
<br>
<form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
