<h2><%= @booking.id %></h2>

<ul>
  <li>Member: <%= @member.pretty_name %></li>
  <li>Class: <%= @fitness_class.name %></li>
  <li>Class: <%= @fitness_class.format_date %></li>
  <li>Class: <%= @fitness_class.format_time %></li>

</ul>

  <a href="/members/<%= @member.id %>">Return to the member details</a>

  <form action="/bookings/<%= @booking.id %>/delete" method="POST"><input type="submit" value="Delete this booking"/></form>


  <!-- I don't understand why booking.name is. But it works, as it shows the name of the relevant fitness_class. -->


<!--  -->
